In [1]:
### Missing values replacement
1.forward fill
2.backward fill
3.replace by mean
4.replace by median
5.replace by mode
6.drop NA values
7.repalcing NAN by interpolation :forward
8.repalcing NAN by interpolation :backward 
9.replacing NAN by constant value

SyntaxError: invalid syntax (<ipython-input-1-261c3743fafe>, line 2)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
##for keeping categorical data
cat_col=[i for i in df.columns  if df[i].dtype=='O']  
cat_col

In [ ]:
df_cat=df[cat_col]
df_cat

In [ ]:
##for keeping numerical data
num_col=[i for i in df.columns  if df[i].dtype!='O']  
num_col

In [ ]:
df_num=df[num_col]
df_num

## Dealing with missing value using forward fill :ffill
## This involves specifying the fill method inside as the fillna() function. This method fills ##each missing row with the value of the nearest one above it.
## df_num.fillna(method='ffill',inplace=True)  ,inplace = True makes all the changes in the ##existing DataFrame without returning a new one. Without it, you'd have to re-assign the ##DataFrame to itself.

In [2]:
df_ffil_all=df.fillna(method='ffill',inplace= False)   # by defult axis=0 that is  NAN value is replace with  row above it from which non-NA value could be propagated.

NameError: name 'df' is not defined

In [ ]:
df_ffil_all

In [ ]:
df_ffil_all.head(20)

In [ ]:
df

In [ ]:
 # bfill :backward fill It fills each missing row in the DataFrame with the nearest value below it.

In [ ]:
df_bfill_all=df.fillna(method='bfill',inplace=False)

In [ ]:
df_bfill_all.head(20)


# You can fill  the Nan values in a specific column with the mean, median, mode, or any other value.

In [ ]:
mean_age=(df['Age'].mean())
mean_age

In [ ]:
mean_age=int(df['Age'].mean())
mean_age

In [ ]:
median_age=int(df['Age'].median())
median_age

In [ ]:
mode_age=int(df['Age'].mode()[0])
mode_age

In [ ]:
## Replacing using Mean,writing function of mean  then call
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")

In [ ]:
def replace_with_mean(data,num_col):   ## function for mean 
    for i in num_col:
        data[i].fillna(int(data[i].mean()),inplace=True)
    return

In [ ]:
df_mean_fill=df
replace_with_mean(df_mean_fill,df_num.columns)

In [ ]:
df_mean_fill

In [ ]:
df_mean_fill.head(20)

In [ ]:
## Replacing using Median ,writing function of median then call

In [ ]:
def replace_with_median(data,num_col):
    for i in num_col:
        data[i].replace([np.nan],int(data[i].median()),inplace=True)
    return

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
df_medianfill=df
replace_with_median(df_medianfill,df_num.columns)
df_medianfill

In [ ]:
df_medianfill.head(20)

In [ ]:
## Replacing using Mode ,writing function of mode  then call

In [ ]:
def replace_with_mode(data,num_col):
    for i in num_col:
        data[i].replace([np.nan],data[i].mode()[0],inplace=True)
    return

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
df_modefill=df
replace_with_mode(df_modefill,df_modefill.columns)
df_modefill

In [ ]:
#Removing all the rows which contain missing values by  the dropna() function

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
df_dropna=df
df_dropna=df.dropna()
df_dropna

In [ ]:
#Interpolate backwardly across the column:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
df_interpol_backwd=df
df_interpol_backwd.interpolate(method ='linear', limit_direction ='backward', inplace=True)
df_interpol_backwd

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
#Interpolate in forward order across the column:
df_interpol_forwd=df
df_interpol_forwd.interpolate(method ='linear', limit_direction ='forward', inplace=True)
df_interpol_forwd

In [ ]:
# filling NA with some constant value

In [ ]:
df=pd.read_csv("D:\ineuron\EDA _Dataset\Dataset\data1\Travel.csv")
#Interpolate in forward order across the column:
df_const=df
df_const.fillna(37, inplace=True)
df_const

In [ ]:
df_const['Age'].fillna(37, inplace=True)
df_const['MonthlyIncome'].fillna(37, inplace=True)
df_const